.details {
	margin-top: 25px;
	border: 1px solid #ddd;
	border-radius: 5px;
}

.details-title {
	padding: 10px;
	background-color:#eee;
	font-weight: bold;
	border-bottom: 1px solid #ddd;
}

.details-description {
	padding: 10px;
}

.list-group-item img {
	max-width: 64px;
}

.list-group-item:hover {
	background-color: #eee;
	cursor: pointer;
}

.search-bar {
	text-align: center;
	margin: 15px;
}

.search-bar input {
	width: 75%;
}